{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Participant</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-gradient-to-br from-blue-500 to-purple-600 min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold text-gray-700 text-center mb-6">Create Participant</h1>
        <form method="POST" class="space-y-6">

            {% if messages %}
            <div class="mb-6">
                {% for message in messages %}
                    <div class="p-4 mb-4 text-sm font-semibold rounded-lg shadow-lg
                                {% if message.tags == 'success' %}bg-green-500 text-white{% elif message.tags == 'error' %}bg-red-500 text-white{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


            {% csrf_token %}
            <div class="space-y-4">
                {{ create_participant.as_p }}
            </div>
            <button 
                type="submit" 
                class="w-full bg-gradient-to-r from-blue-500 to-purple-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:from-blue-600 hover:to-purple-700 transition duration-300">
                Save Participant
            </button>
        </form>
    </div>
</body>
</html>
